<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LGPMPREJECTIONTOOL.Properties.Settings.LGPMPDBConnectionString" connectionString="Data Source=INDELPC039;Initial Catalog=LGPMPDB;Persist Security Info=True;User ID=lgpmp;Password=pass@1234" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
