<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMPMP.DefaultSettingsMain" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>     
    </configSections>
  <connectionStrings>
    <add name="MyDBConnectionString" providerName="System.Data.SqlClient" connectionString="Server=INDELNB126\SQLEXPRESS1;Database=LGPMPDB;Integrated Security=fals;User id=sa;Password=Password12;Trusted_Connection=False;"/>
  </connectionStrings>  
    <userSettings>
        <SMPMP.DefaultSettingsMain>
            <setting name="LoginUserID" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoginUserPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoginMeterVarient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginRememberUser" serializeAs="String">
                <value>False</value>
            </setting>
        </SMPMP.DefaultSettingsMain>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
