<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ApplicationInterface.SerialPortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApplicationInterface.SerialPortSettings>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SignOnBaudRate" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CommandBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CommandTimeOut" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="IntercharacterDelay" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="InterframeTimeout" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ServerSAP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerLowerMacAddress" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="ClientSAP" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="ApplicationContext" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecurityMechanism" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="PDUSize" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="Cnf1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnf2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnf3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadOut" serializeAs="String">
                <value>C:\Program Files\Landis+Gyr\DLMS MMP\Configuration\Instantaneous_c.xml</value>
            </setting>
            <setting name="Billing" serializeAs="String">
                <value>C:\Program Files\Landis+Gyr\DLMS MMP\Configuration\Billing.xml</value>
            </setting>
            <setting name="BillingVZ" serializeAs="String">
                <value>C:\Program Files\Landis+Gyr\DLMS MMP\Configuration\BillingVZ.xml</value>
            </setting>
            <setting name="TamperXML" serializeAs="String">
                <value>C:\Program Files\Landis+Gyr\DLMS MMP\Configuration\Tamper.xml</value>
            </setting>
            <setting name="CommunicationPort" serializeAs="String">
                <value>RJ Port</value>
            </setting>
            <setting name="CommunicationMode" serializeAs="String">
                <value>Mode-E</value>
            </setting>
            <setting name="ModemNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScaleXMLPath" serializeAs="String">
                <value>C:\Program Files\Landis+Gyr\DLMS MMP\Configuration</value>
            </setting>
            <setting name="HLSKey" serializeAs="String">
                <value>93BC0FABF6C85E9E1C53D78885373DC7</value>
            </setting>
            <setting name="ConformanceBlock" serializeAs="String">
                <value>1CFF3F</value>
            </setting>
            <setting name="HLSPWD" serializeAs="String">
                <value>000102030405060708090A0B0C0D0E0F</value>
            </setting>
            <setting name="HDLCAddressing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AddressingSchem" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Authentication" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DLMSVersion" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="InformationSize" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerPhysicalID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CosemBufferSize" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="DLLBufferSize" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="BaudRateSelectedIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MeterMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AppUser" serializeAs="String">
                <value>dlmspt</value>
            </setting>
            <setting name="AppPwd" serializeAs="String">
                <value>Dlmspt@12</value>
            </setting>
            <setting name="AppUserRememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultReadClassID" serializeAs="String">
                <value>08</value>
            </setting>
            <setting name="DefaultReadOBIS" serializeAs="String">
                <value>0000010000FF</value>
            </setting>
            <setting name="DefaultReadAtt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultReadDaraType" serializeAs="String">
                <value>09</value>
            </setting>
            <setting name="DefaultReadLen" serializeAs="String">
                <value>0C</value>
            </setting>
            <setting name="DefaultReadAccSelector" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultReadCmdType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultReadSelectiveAccessCommand" serializeAs="String">
                <value>010204020412000809060000010000FF0F02120000090C000E0507FF0C310AFF800000090C000E0508FF0C310AFF8000000100</value>
            </setting>
            <setting name="DefaultReadDataValueCommand" serializeAs="String">
                <value>07DD0404040B2527FF800000</value>
            </setting>
            <setting name="ClientSystemTitle" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="Securitysuit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GlobalEncryptionKey" serializeAs="String">
                <value>000102030405060708090A0B0C0D0E0F</value>
            </setting>
            <setting name="DedicatedKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AuthenticationKey" serializeAs="String">
                <value>000102030405060708090A0B0C0D0E0F</value>
            </setting>
            <setting name="AESEncryption" serializeAs="String">
                <value>Non Cyphering</value>
            </setting>
            <setting name="AssociationMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AssociationType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AssociationAccess" serializeAs="String">
                <value>12345678</value>
            </setting>
        </ApplicationInterface.SerialPortSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
